.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.builderLayout {
  flex: 1;
  display: flex;
  overflow: hidden;
}
